@use "../../../../assets/styles/mixins" as mixins;
@use "../../../../assets/styles/variables";

.header {
  display: flex;
  border-bottom: 1px solid variables.$light-gray;
  padding-bottom: 24px;
  margin-bottom: 19px;

  &__date {
    margin-right: 56px;
    position: relative;
    color: variables.$pimary-color;
  }

  &__day {
    @include mixins.font(900, 32px, 32px, "Montserrat");
    margin: 0;
  }

  &__month {
    position: absolute;
    bottom: 0px;

    @include mixins.font(400, 12px, 1.5, "Montserrat");

    margin: 0;
  }

  &__tab {
    margin: 0;

    @include mixins.font(600, 20px, 24px, "Montserrat");
  }

  &__brand {
    margin: 0;
    margin-left: auto;
    margin-right: 32px;

    color: variables.$dark-gray;

    @include mixins.font(600, 20px, 24px, "Montserrat");
  }

  &__profile-icon {
    align-self: center;
  }

  &__burger {
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    display: none;
  }

  //Уменьшение шрифта
  @media (max-width: 960px) {
    &__brand {
      @include mixins.font(600, 14px, 24px, "Montserrat");
    }
    &__tab {
      @include mixins.font(600, 14px, 24px, "Montserrat");
    }
  }

  //Изменение порядка элементов в хэдэре для планшетов + появляение бургер-кнопки
  @media (max-width: 790px) {
    flex-wrap: wrap;
    row-gap: 15px;

    &__burger {
      display: block;
    }

    &__burger-wrapper {
      flex-basis: 33.33%;
      order: -3;
    }

    &__date {
      flex-basis: 33.33%;
      margin: 0;
      text-align: center;
      order: -2;
    }

    &__month {
      @include mixins.center-absolute(x);
    }

    &__profile-icon {
      flex-basis: 33.33%;
      text-align: end;
      order: -1;
    }

    &__brand {
      margin: 0;
      margin-left: auto;
    }
  }

  //Изменение порядка элементов в хэдэре для телефонов
  @media (max-width: 425px) {
    &__tab {
      flex-basis: 100%;
      text-align: center;
    }

    &__brand {
      flex-basis: 100%;
      text-align: center;
    }
  }
}
