@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins" as mixins;

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;

  @include mixins.font(800, 16px, 24px, "Montserrat");
  min-width: 600px;

  th,
  td {
    padding: 12px;
    border-bottom: 0.5px dashed #cbcccd;
    text-align: left;
  }

  .name-head {
    display: flex;

    span {
      display: flex;

      @include mixins.center-flex();
    }

    button {
      margin-left: 15px;
      background: variables.$light-gray;
    }
  }

  tr:nth-child(odd) {
    background-color: #f9f9f9;
  }

  th {
    color: variables.$dark-gray;

    @include mixins.font(600, 20px, 24px, "Montserrat");
    background-color: white;
  }

  &__call {
    width: 50px;
  }

  &__phone {
    min-width: 160px;
    color: variables.$dark-gray;
  }

  &__name {
    max-width: 174px;
    min-width: 80px;
    color: variables.$pimary-color;
  }

  &__mail {
    min-width: 200px;
    color: variables.$light-gray;
  }

  &__address {
    min-width: 180px;
    color: variables.$light-gray;
  }
}

.pagination {
  list-style: none;
  display: flex;
  padding: 0;

  .pagination__link {
    width: 40px;
    height: 40px;
    padding: 0;
    display: flex;

    @include mixins.center-flex();
    margin-right: 15px;
  }
}

@media print {
  .printable {
    position: absolute;
    top: 0;
  }

  .no-printable {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }
}
