@use "../../../../assets/styles/variables";
@use "../../../../assets/styles/mixins" as mixins;

.table-controls {
  display: flex;
  @include mixins.center-flex();
  margin-bottom: 49px;

  &__tab {
    margin: 0;
    margin-right: 100px;

    @media (width <= 960px) {
      margin-right: 40px;
    }
  }

  &__search {
    margin-right: 35px;
    flex-grow: 1;
    max-width: 400px;
    position: relative;
  }

  &__search-button {
    position: absolute;
    @include mixins.center-absolute(y);

    right: 10px;
    padding: 0;
    height: 32px;
    width: 32px;
    background: variables.$button-color;
    display: flex;
    @include mixins.center-flex();
  }

  &__button {
    content: "";
    margin-left: auto;
    height: 48px;
    padding: 14px 24px 14px 32px;
    box-sizing: border-box;
  }

  @media (max-width: 600px) {
    flex-wrap: wrap;
    row-gap: 15px;

    &__tab {
      flex-basis: 50%;
      margin: 0;
    }

    &__search {
      max-width: none;
      order: 1;
      margin: 0;
    }
  }

  @media (max-width: 375px) {
    justify-content: center;

    &__button {
      display: flex;
      width: 100%;
      justify-content: center;
    }
  }
}
