$button-color: #f63d74;
$button-gradient: linear-gradient(135deg, #ff1167 0%, #fa82b9 100%);

$pimary-color: #1b2124;
$dark-gray: #97999b;
$light-gray: #cbcccd;

$background-color: #f9f9f9;
$border-radius: 8px;
$padding-small: 12px;
$padding-medium: 24px;
$font-color: #333;
