@use "../../assets/styles/mixins" as mixins;

.input {
  padding: 10px;
  width: 100%;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  @include mixins.font(500, 16px, 1.5, "Montserrat");

  &:focus {
    border-color: #007bff;
    outline: none;
  }

  &::placeholder {
    @include mixins.font(500, 16px, 1.5, "Montserrat");
  }
}
